@import "tailwindcss";
@config "../tailwind.config.cjs";
/* @import './google.css'; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* @config "../tailwind.config.cjs"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

@utility timer-text {
  font-variant-numeric: tabular-nums;
}
